$starSize: 32px;
$starColor: green;
$startReit: 0.5;
$starsWidth: calc(5 * $starSize);


#control_stars {
	
	position: relative;
	
	width: $starsWidth;
	height: $starSize;
	
   & span{	
	float: left;
	display: block;
	height: $starSize;
	width: $starSize;
	background-image: url(foneStar.png);
         
		 &:hover{
			 
			cursor: pointer;
	        background-color: $starColor;
		 }
        		 
   }
   
   &> div{
	    height:  $starSize;
		width:calc( $starsWidth * $startReit );
		background-color: $starColor;
   }   
}

 
